html{overflow-y:scroll}
h1,.info{
	color:#fff;
	margin:1em 0;
	text-align:center;
}
.info{font-size:120%}
ol {
	margin:0;
	padding:0;
	list-style:none
}
.info { clear:both }
body {
	background-color: black;
	color: white;
	font-family: 'Lucida Grande', Verdana, Arial;
	font-size: 12px;
}
.container {
	-webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
	-webkit-perspective-origin: 50% 225px;
	-moz-perspective: 800px;
	-moz-perspective-origin: 50% 225px;
	perspective: 800px;
	perspective-origin: 50% 225px;
	margin:auto;
	padding:110px 0 0;
	position: absolute;
	top:104px;
	left:100px;
	z-index:99;
}
.wrap,form{position:absolute;left:0;top:0;right:0;bottom:0}
.stage {
	-webkit-transition: -webkit-transform 2s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: -webkit-transform 2s;
	-moz-transform-style: preserve-3d;
	transition: -webkit-transform 2s;
	transform-style: preserve-3d;
	float:left;
}
.wheel {
	position: relative;
	margin: 0 auto;
	height: 50px;
	width: 50px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	float:right;
	margin:0 0 0 10px;
}
.wheel li {
	position: absolute;
	height: 56px;
	width: 56px;
	line-height:56px;
	-webkit-border-radius: 12px;
	-webkit-box-sizing: border-box;
	-moz-border-radius: 12px;
	-moz-box-sizing: border-box;
	border-radius: 12px;
	box-sizing: border-box;
	text-align: center;
	font-family: Times, serif;
	font-size: 24pt;
	color: black;
	background-color: white;
	box-shadow:2px 2px 2px rgba(0,0,0,0.4);
	-webkit-transition: -webkit-transform 2s, opacity 2s;
	-webkit-backface-visibility: hidden;
	-moz-transition: -webkit-transform 2s, opacity 2s;
	-moz-backface-visibility: hidden;
	transition: -webkit-transform 2s, opacity 2s;
	backface-visibility: hidden;
}
@-webkit-keyframes spin1 {
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(360deg); }
}
@-moz-keyframes spin1 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(360deg); }
}
@keyframes spin1 {
	from {transform: rotateX(0);}
	to { transform: rotateX(287deg); }
}
/* variations */
@-webkit-keyframes spin2 {
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(395.5deg); }
}
@-moz-keyframes spin2 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(395.5deg); }
}
@keyframes spin2 {
	from {transform: rotateX(0);}
	to { transform: rotateX(395.5deg); }
}
/* variations */
@-webkit-keyframes spin3 {
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(140deg); }
}
@-moz-keyframes spin3 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(140deg); }
}
@keyframes spin3 {
	from {transform: rotateX(0);}
	to { transform: rotateX(140deg); }
}
/* variations */
@-webkit-keyframes spin4 {
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(105deg); }
}
@-moz-keyframes spin4 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(105deg); }
}
@keyframes spin4 {
	from {transform: rotateX(0);}
	to { transform: rotateX(105deg); }
}
/* variations */
@-webkit-keyframes spin5 {
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(360deg); }
}
@-moz-keyframes spin5 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(360deg); }
}
@keyframes spin5 {
	from {transform: rotateX(0);}
	to { transform: rotateX(360deg); }
}
/* variations */
@-webkit-keyframes spin6 {
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(176.5deg); }
}
@-moz-keyframes spin6 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(176.5deg); }
}
@keyframes spin6 {
	from {transform: rotateX(0);}
	to { transform: rotateX(176.5deg); }
}
/* variations */
@-webkit-keyframes spin7 {
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(212.5deg); }
}
@-moz-keyframes spin7 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(212.5deg); }
}
@keyframes spin7 {
	from {transform: rotateX(0);}
	to { transform: rotateX(212.5deg); }
}
/* variations */
@-webkit-keyframes spin8{
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(249.5deg); }
}
@-moz-keyframes spin8 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(249.5deg); }
}
@keyframes spin8 {
	from {transform: rotateX(0);}
	to { transform: rotateX(249.5deg); }
}
/* variations */
@-webkit-keyframes spin9 {
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(323.5deg); }
}
@-moz-keyframes spin9 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(323.5deg); }
}
@keyframes spin9 {
	from {transform: rotateX(0);}
	to { transform: rotateX(323.5deg); }
}
/* variations */
@-webkit-keyframes spin10 {
	from {-webkit-transform: rotateX(0);}
	to { -webkit-transform: rotateX(465deg); }
}
@-moz-keyframes spin10 {
	from {-moz-transform: rotateX(0);}
	to { -moz-transform: rotateX(465deg); }
}
@keyframes spin10 {
	from {transform: rotateX(0);}
	to { transform: rotateX(465deg); }
}




/* ---------- wheel styles ------------- */
.wheel .one { -webkit-transform: translateZ(90px); }
.wheel .two { -webkit-transform: rotateX(-36deg) translateZ(90px); }
.wheel .three { -webkit-transform: rotateX(-72deg) translateZ(90px); }
.wheel .four { -webkit-transform: rotateX(-108deg) translateZ(90px); }
.wheel .five { -webkit-transform: rotateX(-144deg) translateZ(90px); }
.wheel .six { -webkit-transform: rotateX(-180deg) translateZ(90px); }
.wheel .seven { -webkit-transform: rotateX(-216deg) translateZ(90px); }
.wheel .eight { -webkit-transform: rotateX(-252deg) translateZ(90px); }
.wheel .nine { -webkit-transform: rotateX(-288deg) translateZ(90px); }
.wheel .ten { -webkit-transform: rotateX(-324deg) translateZ(90px); }
/* mozilla */
/* ---------- wheel styles ------------- */
.wheel .one { -moz-transform: translateZ(90px); }
.wheel .two { -moz-transform: rotateX(-36deg) translateZ(90px); }
.wheel .three { -moz-transform: rotateX(-72deg) translateZ(90px); }
.wheel .four { -moz-transform: rotateX(-108deg) translateZ(90px); }
.wheel .five { -moz-transform: rotateX(-144deg) translateZ(90px); }
.wheel .six { -moz-transform: rotateX(-180deg) translateZ(90px); }
.wheel .seven { -moz-transform: rotateX(-216deg) translateZ(90px); }
.wheel .eight { -moz-transform: rotateX(-252deg) translateZ(90px); }
.wheel .nine { -moz-transform: rotateX(-288deg) translateZ(90px); }
.wheel .ten { -moz-transform: rotateX(-324deg) translateZ(90px); }
/* standard */
/* ---------- wheel styles ------------- */
.wheel .one { transform: translateZ(90px); }
.wheel .two { transform: rotateX(-36deg) translateZ(90px); }
.wheel .three { transform: rotateX(-72deg) translateZ(90px); }
.wheel .four { transform: rotateX(-108deg) translateZ(90px); }
.wheel .five { transform: rotateX(-144deg) translateZ(90px); }
.wheel .six { transform: rotateX(-180deg) translateZ(90px); }
.wheel .seven { transform: rotateX(-216deg) translateZ(90px); }
.wheel .eight { transform: rotateX(-252deg) translateZ(90px); }
.wheel .nine { transform: rotateX(-288deg) translateZ(90px); }
.wheel .ten { transform: rotateX(-324deg) translateZ(90px); }
/* set timing for each wheel */
.units {
	-webkit-animation:2s linear 2 forwards;
	-moz-animation:2s linear 2 forwards;
	animation:2s linear 2 forwards;
}
.tens {
	-webkit-animation: 1.5s linear 2 forwards;
	-moz-animation: 1.5s linear 2 forwards;
	animation:1.5s linear 2 forwards;
}
.hundreds {
	-webkit-animation:1s linear 2 forwards;
	-moz-animation:1s linear 2 forwards;
	animation:1s linear 2 forwards;
}



/* colours */
.mystery{color:yellow;}
.stage li{text-shadow:1px 1px 1px rgba(0,0,0,0.3);font-weight:bold}
li.red{color:#f00}
.container:after {
	content:"";
	position:absolute;
	bottom: -75px;
	left: -41px;
	right: -59px;
	top: 30px;
	z-index:999;
	border:40px solid rgba(255,160,0,0.8);
	border-top:63px solid rgba(255,143,0,0.8);
	border-bottom:74px solid rgba(255,60,0,0.8);
	pointer-events:none;
	border-radius:12px;
	box-shadow:inset 0 10px 10px rgba(0,0,0,0.4)
}


/* inputs */
.wrap input{
	left:0;
	top:0;
	position:absolute;
}
.wrap input[type=checkbox]{left:-999em}
.wrap label{
	background:transparent;
	color:#000;
	position:absolute;
	top:27px;
	left:432px;
	width:40px;
	height:40px;
	z-index:2;
	cursor:pointer
}
.wrap .reset{
	z-index:1;
	border:none;
	background:transparent;
	text-indent:-999em;
	overflow:hidden;
	top:27px;
	left:432px;
	width:40px;
	height:40px;
	padding:0;
	margin:0;
	cursor:pointer
}

input:checked + label{z-index:-1;}
input#check10:checked ~ .container .units {-webkit-animation-name:spin10;	-moz-animation-name:spin10;	animation-name: spin10;}
input#check10:checked ~ .container .tens {-webkit-animation-name:spin10 ;	-moz-animation-name:spin10;	animation-name: spin10;}
input#check10:checked ~ .container .hundreds {	-webkit-animation-name:spin10;	-moz-animation-name:spin10;	animation-name:spin10;}
/* */

input#check9:checked ~ .container .units {-webkit-animation-name:spin9;	-moz-animation-name:spin9;	animation-name: spin9;}
input#check9:checked ~ .container .tens {-webkit-animation-name:spin9 ;	-moz-animation-name:spin9;	animation-name: spin9;}
input#check9:checked ~ .container .hundreds {	-webkit-animation-name:spin9;	-moz-animation-name:spin9;	animation-name:spin9;}
/* */
input#check8:checked ~ .container .units {-webkit-animation-name:spin8;	-moz-animation-name:spin8;	animation-name: spin8;}
input#check8:checked ~ .container .tens {-webkit-animation-name:spin8 ;	-moz-animation-name:spin8;	animation-name: spin8;}
input#check8:checked ~ .container .hundreds {	-webkit-animation-name:spin8;	-moz-animation-name:spin8;	animation-name:spin8;}
/* */
input#check7:checked ~ .container .units {-webkit-animation-name:spin7;	-moz-animation-name:spin7;	animation-name: spin7;}
input#check7:checked ~ .container .tens {-webkit-animation-name:spin7 ;	-moz-animation-name:spin7;	animation-name: spin7;}
input#check7:checked ~ .container .hundreds {	-webkit-animation-name:spin7;	-moz-animation-name:spin7;	animation-name:spin7;}
/* */
input#check6:checked ~ .container .units {-webkit-animation-name:spin6;	-moz-animation-name:spin6;	animation-name: spin6;}
input#check6:checked ~ .container .tens {-webkit-animation-name:spin6 ;	-moz-animation-name:spin6;	animation-name: spin6;}
input#check6:checked ~ .container .hundreds {	-webkit-animation-name:spin6;	-moz-animation-name:spin6;	animation-name:spin6;}
/* */
input#check5:checked ~ .container .units {-webkit-animation-name:spin1;	-moz-animation-name:spin1;	animation-name: spin1;}
input#check5:checked ~ .container .tens {-webkit-animation-name:spin1 ;	-moz-animation-name:spin1;	animation-name: spin1;}
input#check5:checked ~ .container .hundreds {	-webkit-animation-name:spin1;	-moz-animation-name:spin1;	animation-name:spin1;}
/* */

input#check4:checked ~ .container .units {-webkit-animation-name:spin2;	-moz-animation-name:spin2;	animation-name: spin2;}
input#check4:checked ~ .container .tens {-webkit-animation-name:spin2 ;	-moz-animation-name:spin2;	animation-name: spin2;}
input#check4:checked ~ .container .hundreds {	-webkit-animation-name:spin2;	-moz-animation-name:spin2;	animation-name:spin2;}
/* */
input#check3:checked ~ .container .units {-webkit-animation-name:spin3;	-moz-animation-name:spin3;	animation-name: spin3;}
input#check3:checked ~ .container .tens {-webkit-animation-name:spin3 ;	-moz-animation-name:spin3;	animation-name: spin3;}
input#check3:checked ~ .container .hundreds {	-webkit-animation-name:spin3;	-moz-animation-name:spin3;	animation-name:spin3;}
/* */
input#check2:checked ~ .container .units {-webkit-animation-name:spin4;	-moz-animation-name:spin4;	animation-name: spin4;}
input#check2:checked ~ .container .tens {-webkit-animation-name:spin4 ;	-moz-animation-name:spin4;	animation-name: spin4;}
input#check2:checked ~ .container .hundreds {	-webkit-animation-name:spin4;	-moz-animation-name:spin4;	animation-name:spin4;}
/* */
input#check1:checked ~ .container .units {-webkit-animation-name:spin5;	-moz-animation-name:spin5;	animation-name: spin5;}
input#check1:checked ~ .container .tens {-webkit-animation-name:spin5 ;	-moz-animation-name:spin5;	animation-name: spin5;}
input#check1:checked ~ .container .hundreds {	-webkit-animation-name:spin5;	-moz-animation-name:spin5;	animation-name:spin5;}
/* */



/*.................... just the styling of the fruit machine - no logic here */
.machine {
	position:absolute;
	padding:0;
	width:421px;
	height:370px;
	right:0;
	top:0;
	left:0;
	bottom:0;
	margin:auto;
}
.lever {
	position:absolute;
	right:-55px;
	top:23px;
}
.ball {
	width:42px;
	height:42px;
	border-radius:50%;
	background-image: -webkit-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: -moz-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: -ms-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: -o-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: radial-gradient(circle at 30% 40%, rgb(255,0,0), rgb(0,0,0));
	position:relative;
	z-index:0;
	top:2px;
	margin-left:13px;
}
.stem {
	width:10px;
	height:152px;
	margin-left:28px;
}
.stem, .cogs b {
	border-left:1px solid #919191;
	border-left:1px solid #919191;
	background: rgb(113,113,113); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxNzE3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTcxNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(113,113,113,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(57%, rgba(255,255,255,1)), color-stop(100%, rgba(113,113,113,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* W3C */
}
.cog1, .cog2 {
	float:left;
	width:21px;
	height:68px;
	border:1px solid #757575;
	background: rgb(113,113,113); /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcxNzE3MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTcxNzEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(113,113,113,1)), color-stop(39%, rgba(255,255,255,1)), color-stop(57%, rgba(255,255,255,1)), color-stop(100%, rgba(113,113,113,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(113,113,113,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 57%, rgba(113,113,113,1) 100%); /* W3C */
	margin:-15px 0 0;
}
.cog2 {
	width:17px;
	height:43px;
	margin:0;
}
/* end lever styles */

.jackpot {
	position:relative;
	width:402px;
	height:91px;
	line-height:91px;
	text-align:center;
	font-size:40px;
	color:#f00;
	font-weight:bold;
	letter-spacing:.3em;
	text-shadow:1px 1px rgba(0,0,0, 0.8);
	text-transform:uppercase;
	background:#ffd900;
	box-shadow:inset 0 0 20px #f00;
	border:2px solid #4c2800;
	border-radius:4px;
}
.jackpot .circle {
	width:189px;
	height:57px;
	overflow:hidden;
	position:absolute;
	left:106px;
	top:-57px;
}
.jackpot .circle:after {
	content:"";
	width:185px;
	height:185px;
	background:#ffd900;
	box-shadow:inset 0 0 70px #f00;
	border:2px solid #4c2800;
	border-radius:50%;
	display:block;
}
.jackpot strong {
	position:relative;
	z-index:2;
}
/* cards */
.card {
	width:60px;
	height:90px;
	line-height:90px;
	background:#fff;
	border-radius :4px;
	box-shadow:2px 2px 3px rgba(0,0,0,0.5);
	position:absolute;
	left:158px;
	top:-37px;
	z-index:1;
	font-size:32px;
	text-align:center;
	color:#000;
}
.card1 {
	-moz-transform:rotate(-20deg);
	-webkit-transform:rotate(-20deg);
	transform:rotate(-20deg);
}
.card2 { margin-left:10px }
.card3 {
	margin-left:20px;
	-moz-transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
	transform:rotate(20deg);
}
.card.red { color:#f00 }
.suit {
	position:absolute;
	line-height:14px;
	font-size:14px;
	left:5px;
	top:5px;
	text-align:left;
	width:1em;
	text-shadow:none;
}
.card b {
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
}
.jackpot:after {
	content:"$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$";
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	color:green;
	text-align:center;
	font-size:10px;
	line-height:12px;
	letter-spacing:2px;
	font-weight:normal;
}
.cogs {
	width:402px;
	height:15px;
}
.cogs b {
	width:47px;
	height:13px;
	display:inline-block;
	vertical-align:top;
	margin:0 0 0 100px;
}
/* main*/
.main {
	width:417px;
	border:1px solid #3f3f3f;
	padding:10px;
	background:#666;
	box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
	border-radius:4px;
	margin:-2px 0 0 -18px;
}
.main-inner {
	border-radius:4px;
	height:232px;
	border:1px solid #4f4f4f;
	background: rgb(40,40,40); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(40,40,40,1) 0%, rgba(130,130,130,1) 39%, rgba(130,130,130,1) 57%, rgba(40,40,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(40,40,40,1)), color-stop(39%, rgba(130,130,130,1)), color-stop(57%, rgba(130,130,130,1)), color-stop(100%, rgba(40,40,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(40,40,40,1) 0%, rgba(130,130,130,1) 39%, rgba(130,130,130,1) 57%, rgba(40,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(40,40,40,1) 0%, rgba(130,130,130,1) 39%, rgba(130,130,130,1) 57%, rgba(40,40,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(40,40,40,1) 0%, rgba(130,130,130,1) 39%, rgba(130,130,130,1) 57%, rgba(40,40,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(40,40,40,1) 0%, rgba(130,130,130,1) 39%, rgba(130,130,130,1) 57%, rgba(40,40,40,1) 100%); /* W3C */
}



.b{
	width:100px;
	height:20px;
	border-left:650px solid transparent;
	border-top:20px solid red;
		background-image: -webkit-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: -moz-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: -ms-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: -o-radial-gradient(30% 40%, rgb(255,0,0), rgb(0,0,0));
	background-image: radial-gradient(circle at 30% 40%, rgb(255,0,0), rgb(0,0,0));
	-webkitbackface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-animation:spinx 5s linear infinite;
	-moz-animation:spinx 5s linear  infinite;
	animation:spinx 5s linear  infinite;
	transform:rotate(360deg);
	border-radius:60px;
	margin:0 0 0 -160px;
}
.b2{
	transform:rotate(-360deg);
	-webkit-animation:spinx2 5s linear  infinite;
	-moz-animation:spinx2 5s linear  infinite;
	animation:spinx2 5s linear  infinite;
}
.effect{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	width:478px;
	height:500px;
	z-index:-1;
	border-radius:50%;
	overflow:hidden
}
.lever .pull{transform:rotate(0deg) translateX(0px);}
