
ul {
  list-style: none;
  padding: 0;
}

ul.results li {
  margin: .2em 0;
}
ul.results {
  min-height: 8em;
}

.App-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 1em;
}
.App-container form input{
  flex: 1 1 auto;
  margin: 1em;
}


input.people-input {
  outline: none;
  max-width: 10em;
  min-width: 7em;
  padding: 7px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid #ddd;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

input[type="submit"]{
  background-color: #d5dae0;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  font-size: 1em;
}
input[type="submit"]:focus{
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
