.App {
  text-align: center;
}

.App-top-image {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-header h2{
  margin-bottom: 2px;
}
.App-header span{
  font-size: .6em;
}

.App-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App-container ul,
.App-container div,
.App-container form {
  flex: 0 1 auto;
}
.App-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 1em;
}
.App-container form input{
  flex: 1 1 auto;
  margin: 1em;
}

ul {
  list-style: none;
  min-height: 8em;
  padding: 0;
}
ul li {
  margin: .2em 0;
}

input.people-input {
  outline: none;
  max-width: 10em;
  min-width: 7em;
  padding: 7px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid #ddd;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
}

input[type="submit"]{
  background-color: #d5dae0;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.info {
  padding: 1em .5em;
  max-width: 30em;
}
.info p{
  font-size: 0.8em;
  font-weight: 300;
}
