.machine {
  padding: 0 1em;
}
.machine .spinner {
  max-width: 600px;
  width: 100%;
  height: 5em;
  border: 4px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.spinner .window{
  flex: 1 1 auto;
  background-color: pink;
  width: 30%;
  border: 1px solid gray;
}
