/* 3D STYLES STOLENT FROM CODEPEN */

.machine {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.machine ol,
.machine h2,
.machine button {
  flex: 1 1 auto;
}
ol {
  list-style: none;
  padding: 0;
}

.machineBox {
  position: absolute;
  padding: 0;
  width: 421px;
  height: 370px;
  right: 0;
  top: 110px;
  left: 0;
  bottom: 0;
  margin: auto;
}

.container {
	-webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
	-webkit-perspective-origin: 100% 225px;
	-moz-perspective: 800px;
	-moz-perspective-origin: 100% 225px;
	perspective: 800px;
	perspective-origin: 100% 225px;
	margin:auto;
	left: 55px;
	z-index:99;
  position: absolute;
  top: 70px;
}

.stage {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  -webkit-transition: -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -webkit-transform 2s;
  -moz-transform-style: preserve-3d;
  transition: -webkit-transform 2s;
  transform-style: preserve-3d;
}

ol.wheel {
  border: 1px solid gray;
	position: relative;
	margin: 0 auto;
	height: 50px;
	width: 50px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin:0 0 0 10px;
}

ol.wheel li{
  position: absolute;
  height: 56px;
  width: 56px;
  line-height: 56px;
  text-align: center;
  color: white;
  background-color: black;
  backface-visibility: hidden;
  transition: -webkit-transform 2s, opacity 2s;
  border-radius: 12px;
  box-sizing: border-box;
}




/* ---------- wheel styles ------------- */
.wheel .one { transform: translateZ(90px); }
.wheel .two { transform: rotateX(-36deg) translateZ(90px); }
.wheel .three { transform: rotateX(-72deg) translateZ(90px); }
.wheel .four { transform: rotateX(-108deg) translateZ(90px); }
.wheel .five { transform: rotateX(-144deg) translateZ(90px); }
.wheel .six { transform: rotateX(-180deg) translateZ(90px); }
.wheel .seven { transform: rotateX(-216deg) translateZ(90px); }
.wheel .eight { transform: rotateX(-252deg) translateZ(90px); }
.wheel .nine { transform: rotateX(-288deg) translateZ(90px); }
.wheel .ten { transform: rotateX(-324deg) translateZ(90px); }

.stage .wheel:first-of-type{
  left: 0%;
}
.stage .wheel:nth-of-type(2){
  left: 33%;
}
.stage .wheel:nth-of-type(3){
  left: 66%;
}


.machine button {
  background-color: cyan;
  height: 7em;
  width: 7em;
  margin: 0 2em;
}
